*{margin: 0px;padding: 0px;font-family: "微软雅黑";}
.about-img{width: 100%;overflow: hidden;}
.about-back{background-color: #ffffff;}
.about-img img{width: 100%;
    height:100%;
    transition: 2s;}
.about-h{width: 1110px;height: auto;margin: 0 auto;background-color: #fff;}
.about-hone{width: 100%;margin-top: 70px;}
.about-h h1{font-size: 21px;text-align: center;color:#37474f;}
.about-h h2{font-size: 14px;text-align: center;color:#72726d;margin-top: 20px;margin-bottom: 10px;}
.about-h img{width: 100%;}
