*{
	margin: 0;
	padding: 0;
}
.index-max{
	width: 100%;
	height: auto;
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	
}
.index-ul{
	list-style: none;
	width: 100%;
	height: 80px;
	-webkit-box-flex: 1;
}
.index-ul>li{
	float: left;
}
.index-img{
	width: 182px;
	height: 80px;
	overflow: hidden;
}
.index-img img{
	display: block;
	width: 103px;
	height: 28px;
	margin:26px auto 0 auto;
}
.index-footer{
	width: 100%;
	height: 96px;
	background: #17171a;
	position: relative;
	bottom: 0;
	overflow: hidden;
}
.index-footer p{
	font-size: 12px;
	color: #888888;
	text-align: center;
	line-height: 16px;
}
.index-footer p:nth-child(1){
	margin-top: 29px;
}
